.page-actionbar {
  --_page-actionbar-top: 0px;
  --_page-actionbar-z: 10;

  box-sizing: border-box;
  padding-top: var(--mantine-spacing-md);
}

.page-actionbar--sticky {
  position: sticky;
  inset-block-start: var(--_page-actionbar-top);
  z-index: var(--_page-actionbar-z);
  background: var(--mantine-color-white);
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-md);
  
  margin-bottom: var(--mantine-spacing-md);
  
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.page-actionbar--transparent {
  inline-size: 100%;
  background: transparent !important;
  position: relative;
  border: none !important;
  margin-bottom: var(--mantine-spacing-xl);
  
  /* Offset AppShell padding but leave some headroom */
  margin-top: calc(var(--mantine-spacing-md) * -1);
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
  width: calc(100% + (var(--mantine-spacing-md) * 2));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-xl);
}

.page-actionbar--no-border {
  border: none !important;
}

.page-actionbar :where(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  padding-block: 0;
}

.page-actionbar__right {
  flex-wrap: wrap;
  justify-content: flex-end;
}

